<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.env.dcwater"
    android:versionCode="1"
    android:versionName="1.0"
    android:installLocation="internalOnly" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> 
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.NFC" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" /> 
	<uses-permission android:name="android.permission.WAKE_LOCK" /> 
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
	<uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
	<uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:xlargeScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />
    
    <application
        android:name="com.env.dcwater.component.DCWaterApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        
        <!-- 启动界面 -->
        <activity
            android:name="com.env.dcwater.activity.StartupActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        <!--  该代码添加 nfc卡片的调度系统
        	<intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>  
                <action android:name="android.nfc.action.TECH_DISCOVERED" /> 
            </intent-filter>  
            <meta-data  
                android:name="android.nfc.action.TECH_DISCOVERED"  
                android:resource="@xml/nfc_tech_filter" />
            <intent-filter>
    			<action android:name="android.nfc.action.TAG_DISCOVERED"/>
			</intent-filter>
         -->            
        </activity>
        
        <!-- 登陆界面 -->
        <activity
            android:name="com.env.dcwater.activity.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        
        <!-- 主界面-->
        <activity
            android:name="com.env.dcwater.activity.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/CustomActionBarTheme"
            android:icon="@drawable/ic_launcher" >
        </activity>
        
        <!-- 设备信息查看界面 -->
        <activity
            android:name="com.env.dcwater.activity.MachineInfoActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/CustomActionBarTheme"
            android:icon="@drawable/ic_launcher">
        </activity>
        
        <!-- 报修管理界面 -->
        <activity
            android:name="com.env.dcwater.activity.RepairManageActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/CustomActionBarTheme"
            android:label="@string/activity_userright_item_repairmanage"
            android:icon="@drawable/ic_launcher" >
        </activity>
        
        <!-- 报修管理查看详细界面 -->
        <activity
            android:name="com.env.dcwater.activity.RepairManageItemActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/CustomActionBarTheme"
            android:icon="@drawable/ic_launcher" >
        </activity>
        
        <!-- 数据填报界面 -->
        <activity
            android:name="com.env.dcwater.activity.DataInputActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:theme="@style/CustomActionBarTheme"
            android:icon="@drawable/ic_launcher" >
        </activity>
        
        <!-- 维修历史记录界面 -->
        <activity
            android:name="com.env.dcwater.activity.MaintainHistoryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/CustomActionBarTheme"
            android:icon="@drawable/ic_launcher" >
        </activity>
        
        <!-- 保养历史记录 -->
        <activity
            android:name="com.env.dcwater.activity.UpkeepHistoryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/CustomActionBarTheme"
            android:icon="@drawable/ic_launcher" >
        </activity>
        
    </application>

</manifest>
